{% extends 'rushranking/base.html'%}

{% load static%}

{% block title%}About Rushranker{% endblock %}

{% block body_block %}
      <h1>About</h1>
      This is a site for Duke KA to rate rushees
      <strong>{{ strongmessage }}</strong> <br />

      <a href="/rushranking/">Back to Index</a> <br />
      <img src="{% static "chance.jpg" %}" alt="Picture of Chance" />
      <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}