<!doctype html>

{% load static%}

<html lang="en">

   <head>
      <meta charset="UTF-8">
      <title>Rushranker</title>
   </head>

   <body>
      <h1>Rushranker</h1>
      {% if rushees %}
         <ol>
            {% for rushee in rushees %}
            <li><a href="/rushranking/rushee/{{ rushee.url }}">{{ rushee.firstName }} {{rushee.lastName}}</a>, {{rushee.score}} </li>
            {% endfor %}
         </ol>
         {% else %}
            <strong>No rushees in the list!</strong>
         {% endif %}

      <a href="/rushranking/about/">About</a> <br>
      <a href="/rushranking/add_rushee">Add a new rushee</a><br>
      <img src="{% static "Dag.png" %}" alt="Picture of Dag" />
   </body>

</html>