{% extends 'rushranking/base.html'%}

{% load static%}

{% block title%}Rushranker{% endblock %}

{% block body_block %}
   {% if user.is_authenticated %}
   <h1>Welcome, {{user.username}}</h1>
   {% else %}
   <h1>Rushranker</h1>
   {% endif %}
   {% if rushees %}
      <ol>
         {% for rushee in rushees %}
         <li><a href="/rushranking/rushee/{{ rushee.url }}">{{ rushee.firstName }} {{rushee.lastName}}</a>, {{rushee.score}} </li>
         {% endfor %}
      </ol>
      {% else %}
         <strong>No rushees in the list!</strong>
      {% endif %}
   <img src="{% static "Dag.png" %}" alt="Picture of Dag" />
{% endblock %}