<!doctype html>
<html lang="en">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'css/bootstrap-fluid-adj.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen">
      <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
      <title>Rushranking</title>
   </head>
   <body>
      <h1>Register</h1>

      {% if registered %}
      Thank you for registering.<br>
      <a href="/rushranking/">Return to homepage</a>
      {% else %}
      <strong>Register here</strong>
      <form id="user_form" method="post" action="/rushranking/register/" enctype="multipart/form-data">
         {% csrf_token %}

         {{ user_form.as_p }}
         {{ profile_form.as_p }}

         <input type="submit" name="submit" value="Register" />
      </form>
      {% endif %}
      <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
   </body>
</html>