{% extends 'rushranking/base.html'%}

{% load static%}

{% block title%}Rushranker{% endblock %}

{% block body_block %}
      <h1>Register</h1>

      {% if registered %}
      Thank you for registering.<br>
      <a href="/rushranking/">Return to homepage</a>
      {% else %}
      <strong>Register here</strong>
      <form id="user_form" method="post" action="/rushranking/register/" enctype="multipart/form-data">
         {% csrf_token %}

         {{ user_form.as_p }}
         {{ profile_form.as_p }}

         <input type="submit" name="submit" value="Register" />
      </form>
      {% endif %}
      <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}