{% extends 'rushranking/base.html'%}

{% load static %}

{% block title%}{{rushee.firstName}} {{rushee.lastName}}{% endblock %}

{% block body_block %}
   <h1>{{ rushee.firstName }} {{ rushee.lastName }}</h1>
   {% if rushee %}
      {% if rushee.picture %}
         <a> <img src="{{rushee.picture.url }}" height="180"> </a></br>
      {% endif %}
      First Name: {{ rushee.firstName }} ({{ rushee.preferredName }})</br>
      Last Name: {{ rushee.lastName }} </br>
      Hometown: {{ rushee.hometown }} </br>
      High School: {{ rushee.highSchool }} </br>
      Grade: {{ rushee.grade }} </br>

      {% if comments %}
      <ul>
         {% for comment in comments %}
            <li>{{ comment.brother.first_name }} {{ comment.brother.last_name }}: {{ comment.text }}</li>
         {% endfor %}
      </ul>
      {% else %}
         The specified rushee {{ rushee.firstName }} {{ rushee.lastName }} has no comments
      {% endif %}
      <br>
      <a href="/rushranking/add_comment/{{ rushee.id }}">Add Comment</a> <br>
      <a href="/rushranking/edit_rushee/{{ rushee.id }}">Edit</a>
   {% else %}
      There is no rushee with id {{ rushee_id }}.
   {% endif %}
{% endblock %}