{% extends 'rushranking/base.html'%}

{% load static%}

{% block title%}Rushranker{% endblock %}

{% block body_block %}
   <div class="hero-unit">
      <h1>Login to Rushranker</h1>

      <div class="container">
         <form class="form-signin span4" id="login_form" methon="post" action="/rushranking/login/">
            <h2 class="form-signin-heading">Please sign in</h2>
            {% csrf_token %}

            {% if bad_details %}
            <p><strong>Your username and/or password were incorrect</strong></p>
            {% elif disabled_account%}
            <p><strong>Your Rushranker account is currently disabled</strong></p>
            {% endif %}

            Username: <input type="text" class="input-block-level" placeholder="Username" name="username" value="" size="50" />
            <br>
            Password: <input type="password" class="input-block-level" placeholder="Password" name="password" value="" size="50" />
            <br>

            <button class="btn btn-primary" type="submit">Sign In</button>
         </form>
      </div>
   </div>
<script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}